<article class="card-post">
  <div class="container">
    <div class="row">

      <article class="card-post">
        <div class="container">
          <div class="row">
            {{ range .Site.RegularPages }}
            <div class="col-md-4 mb-4 d-flex">
              <div class="card">
                <img src="{{.Params.image}}" alt="{{ .Title }}" class="card-img-top">
                <a href="{{ .RelPermalink }}">
                  {{ .Title }}
                </a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{ .RelPermalink }}" class="text-dark"> {{ .Title }} </a>
                  </h4>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </article>

    </div>
  </div>

</article>

<br>

<div class="container">
  {{ partial "pagination.html"}}
</div>